body{
  margin:0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navBar{
  background-color: rgb(6, 72, 157);
  height: 4rem;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap:2rem
}

.addRecordButton{
 background-color: rgb(13, 187, 13);
 height: 5rem;
 width: 5rem;
 border:none;
 border-radius: 10rem;
 position:fixed;
 bottom: 3rem;
 right: 3rem;
 cursor: pointer;
 font-size: 3rem;
 color:white
}

.navLink{
  color:white;
  text-decoration: none;
}

.chartsContainer{
  display: flex;
  padding: 5rem;
}