body{
  margin:0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
}

.navBar{
  background-color: rgb(6, 72, 157);
  height: 4rem;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap:2rem;
}

.addRecordButton{
 background-color: rgb(13, 187, 13);
 height: 5rem;
 width: 5rem;
 border:none;
 border-radius: 10rem;
 position:fixed;
 bottom: 3rem;
 right: 3rem;
 cursor: pointer;
 font-size: 3rem;
 color:white;
 box-shadow: 5px 5px 15px black ;
 z-index: 1000;
}
.addRecordButton:hover{
  height: 5.2rem;
  width: 5.2rem;
  background-color: rgb(6, 118, 6);
}

.navLink{
  color:white;
  text-decoration: none;
}

.chartsContainer{
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  gap:1rem;
  contain:content;
}

.piechartContainer{
  width: 40%;
}
.linechartContainer{
  width: 60%;
}

.text-input{
  margin: 20px;
}

.studentsListing{
  padding: 1rem 2rem;
}

.addForm{
  display:grid;
  grid-template-columns:1fr;
  row-gap:0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #000;
  padding: 2rem;
  border-radius:1rem;
  border:none;
  width: 30%;
  min-width: 200px;
}

.content{
  display:flex;
  justify-content:space-between;
  align-items:start;
  background-color: rgb(174, 237, 232);
}
.content p {
  margin: 0;
  font-weight: 600;
}
.content span{
  font-weight:400;
  font-style: italic;
}

.card{ 
  width: 80%;
  max-width: 450px;
}
.card button{
  margin: 1rem;
}

.status{
  box-sizing: border-box;
  border-radius: 0.2rem;
  width: 4rem;
  padding: 0.6rem;
  color: white;
  font-weight: bold;
  border:none;
}

#searchBox{
  margin: 1rem 0;
}

.grid{ 
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2rem;
}

.Title{
  display: flex;
  justify-content: center;
}

.pagination{
 display:flex;
 justify-content:center;
}

@media screen and (max-width: 646px) {
  .chartsContainer{
    flex-direction: column;
    align-items: center;
  }
  .addRecordButton{
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    bottom: 1rem;
    right: 1rem;
  }
  .piechartContainer{
    width: 100%;
  }
  .linechartContainer{
    width: 100%;
  }
}

@media screen and (max-width: 1090px) {
  .grid{ 
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
}