body{
  margin:0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
}

.navBar{
  background-color: rgb(6, 72, 157);
  height: 4rem;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap:2rem
}

.addRecordButton{
 background-color: rgb(13, 187, 13);
 height: 5rem;
 width: 5rem;
 border:none;
 border-radius: 10rem;
 position:fixed;
 bottom: 3rem;
 right: 3rem;
 cursor: pointer;
 font-size: 3rem;
 color:white;
 box-shadow: 5px 5px 15px black ;
}
.addRecordButton:hover{
  height: 5.2rem;
  width: 5.2rem;
  background-color: rgb(6, 118, 6);
}

.navLink{
  color:white;
  text-decoration: none;
}

.chartsContainer{
  display: flex;
  padding: 5rem;
}

.text-input{
  margin: 20px;
}

.studentsListing{
  padding: 1rem 2rem;
}

.addForm{
  display:grid;
  grid-template-columns:20rem;
  row-gap:0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 10rem;
  padding: 2rem;
  border-radius:1rem;
  border:none;
}

.card{
  width: 40%;
  margin-bottom:1rem;
  box-shadow: 5px 5px 5px;
}

.content{
  display:flex;
  justify-content:space-between;
  align-items:start;
  background-color: rgb(174, 237, 232);
}
.card button{
  margin: 1rem;
}

.status{
  box-sizing: border-box;
  border-radius: 0.2rem;
  width: 4rem;
  padding: 0.6rem;
  color: white;
  font-weight: bold;
  border:none;
}